:root{
  /* color */
  --yellow:rgb(0,255,25);
  --black:rgb(0,0,0);
  --black-op:rgba(0,0,0,0.5);
  --yellow-op:rgba(0,255,25,0.75);
  --white-op:rgba(255,255,255,0.25);

  /* prop */
  --shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
  --input-shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  transition: all 0.3s;
}

/* global restyle */
ul{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
input{
  outline: none;
  border: none;
  height: 32px;
  width: 450px;
  border-radius: 4px;
}
/* login form */
.login__form{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg_yellow{
  position: absolute;
  top: 0;
  right: 60%;
  background-color: var(--yellow-op);
  width: 100vw;
  height: 900px;
  transform: skew(-15deg, 0deg);
  box-shadow: var(--shadow);
  z-index: -1;
}
.login__form .wrapper{
  width: 85vw;
  height: 85vh;
  background-color: var(--white-op);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
}

.wrap_left{
  padding-left: 1rem;
}
.wrap_left__link a:hover{
  color: var(--black-op);
}
.wrap_left__link a:nth-child(2){
  margin-left: 2rem;
  font-weight:500 ;
}

.wrap_left_img{
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.wrap_left_img img{
  object-fit: cover;
  width: 80%;
}

.logo{
  font-weight:600;
  font-size: 1rem;
}
/* wrap_right_content */

/* title */
.title{
  font-weight: 600;
  display: block;
  text-align: center;
}
.input-forms{
  height: 100%;
  text-align: center;
  padding: 20px 0;
}
.input-forms input[type=text] , 
.input-forms input[type=password]{
  padding: 15px 10px;
  border: 0.01rem solid var(--black);
  box-shadow: var(--input-shadow);
  margin-bottom: 20px;
}
